doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="zero.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300;500;700&family=Oswald:wght@700&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="styleNotFound.css")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-X6P7145H0N"></script>
        script.          
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date())

            gtag('config', 'G-X6P7145H0N')  
        title KvantPlus
    body 
        .wrapper 
            include Partical view/header.pug
            main.page__main
                .page__not-found
                    p 404 сторінку не знайдено 
              
                include  Partical view/googleMap.pug
        
            include Partical view/footer.pug
        
    include Partical view/burger.pug

script(src="Script/script.js",type="module")

 