.blind__block
    .blind__black
    .blind 
        .blind__header
            .blind__close Закрити 
            .blind__logo.header__logo KVANT

        ul.blind__list 
            a.blind__link(href="/") 
                li.blind__item Головна
            a.blind__link(href="/findUs") 
                li.blind__item Як нас знайти
            a.blind__link(href="/#Contact") 
                li.blind__item Контакти 
        .blind__contact 
            a(href="https://www.facebook.com/bboyromko") Facebook 
            a(href="https://t.me/bboyaka") Telegream 
            a(href="viber://chat?number=%2B380685995982") Viber     