footer.footer 
    .footer__container._container 
        .footer__text 
            h3.footer__title.header__logo KVANT  
        .footer__icon.icon 
            a.icon__viber(href="viber://chat?number=%2B380685995982") 
            a.icon__facebook(href="https://www.facebook.com/bboyromko") 
            a.icon__telegram(href="https://t.me/bboyaka") 
        .footer__paragraph КВАНТ плюс © 2022