.page__googleMap
    <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8818.065909278295!2d24.692842734850007!3d48.92250448113196!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3083fd322d781d31!2z0JrQktCQ0J3QoiDQv9C70Y7RgQ!5e0!3m2!1suk!2sua!4v1649166468786!5m2!1suk!2sua"  height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        