header.header 
    .header__container._container 
        a.header__logo_link(href="/")
                .header__logo KVANT 
        nav.header__menu.menu
            ul.menu__list  
                a.menu__link(href="/")
                        li.menu__item Головна
                a.menu__link(href="/findUs")
                        li.menu__item Як нас знайти
                a.menu__link(href="/#Contact")
                        li.menu__item Контакти
        .burger__menu
                span.burger__one 
                span.burger__two 
                span.burger__three   