.page__section2.section.findImg
    .section__container._container
        .section__block.section__block_left   
            .section__column.setction__column_text    
                .section__text 
                    h3.section__title.name Sweet Tv
                    ul.section__list.list 
                        li.list__item  
                            span Оперативна пам'ять
                            span 1 ГБ
                        li.list__item  
                            span Внутрішня пам'ять
                            span 8 ГБ
                        li.list__item  
                            span Процесор 
                            span Allwinner H313
                        li.list__item  
                            span Операційна система
                            span Android 10
                    .section__btn
                        a.section__button.btn__order Замовити 
                        .section__price.price 700 грн.

            .section__column 
                .section__img.image 
                    img(src="Image/sweetTv.png", alt="")