.background__grey 
    .modal.findImg
        .modal__close &#10006
        .modal__block1 
            .modal__img
                img(src="Image/x96maxPlus.png", alt="")
            .modal__text 
                p.modal__name X96max
                p.modal__price 1600
        .modal__block2  
            form
                .modal__input
                    .modal__input1.form-block__block-input
                        input(type="name" name="name" class="name" required)
                        label(for="name") Ім'я
                        .form-block__underline

                     
                    .modal__input2.form-block__block-input
                        input(type="tel" class="phone" required)
                        label(for="name") Телефон
                        .form-block__underline
                .modal__submit 
                    input(type="submit", value="Замовити" class="sendForm")  