.page__section1.section.findImg#asdf  
    .section__container._container 
        .section__block     
            .section__column    
                .section__text 
                    h3.section__title.name X96 MAX plus
                    ul.section__list.list 
                        li.list__item  
                            span Оперативна пам'ять
                            span 4 ГБ
                        li.list__item  
                            span Внутрішня пам'ять
                            span 32 ГБ
                        li.list__item  
                            span Процесор 
                            span Amlogic S905X3
                        li.list__item  
                            span Операційна система
                            span Android 9.0
                    .section__btn
                        a.section__button.btn__order Замовити 
                        .section__price.price 1600 грн.

            .section__column 
                .section__img.image 
                    img(src="Image/x96maxPlus.png", alt="")